apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      volumes:
        - name: logs
          persistentVolumeClaim:
            claimName: logoutput-claim
      containers:
        - name: pingpong
          image: stevemcwin/ping-pong:latest
          volumeMounts:
            - name: logs
              mountPath: /usr/src/app/files

