apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todoapp
  template:
    metadata:
      labels:
        app: todoapp
    spec:
      volumes:
        - name: todo-storage
          persistentVolumeClaim:
            claimName: todo-claim
      containers:
        - name: logoutput
          image: stevemcwin/todo-app
          volumeMounts:
            - name: todo-storage
              mountPath: /usr/src/app/files
          env:
            - name: PORT
              value: "3000"
